@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">The Motorcycle Dealer</h1>

    <h2 class="display-4">Welcome</h2>
    <p>This is The Motorcycle Dealer, a website made to help you find any motorcycle wherever, whenever.</a>.</p>
</div>
