@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At The Motorcycle Dealer we are commited to protecting the privacy and security of our websites customers, personal information.</p>
<p></p>
<p></p>
<p>For more info contact us here.</p>
